#
# NOTE! Please use 'git ls-files -i --exclude-standard -c'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
build/
.*

#
# files that we don't want to ignore
#
!.gitignore
!.gitattributes
!.github
!.editorconfig
!.clang-format
